
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/*IMAGEN FONDO DE PANTALLA*/
body{
    flex-wrap: wrap;
    background: url(./image/fondo.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
/*NAVEGADOR FIJO A SCROLL*/
.ulclassnav{
  text-align: center;
    list-style: none;
  padding: 0;
  margin: 0;
 
}
.ulclassnav li{
    display: inline-block;
    margin-right: 20px;
   
}
.ulclassnav li a{
    color: rgb(0, 0, 0);
}
.nav-inicio{
    width: 100%;
    height: 10vh;
    background-color: rgb(241, 241, 125);
    position: fixed;
    margin-top: 30px;
    border-radius: 40px;
}
.navp{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-family: fantasy;
}
.navp2{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
.h1{
    text-align: center;
    color: rgb(194, 142, 12);
    font-family: 'Courier New', Courier, monospace;
}

/* STYLE PRODUCTOS INICIO*/
.p-section1{
    color: goldenrod;
}
footer{
    width: 100%;
    height: 45vh;
    background-color: rgb(54, 53, 45);
    text-align: center;
    border: solid black;  
   margin: 0;
   padding: 0;
   display: flexbox;
   justify-content: space-around;
   filter: brightness(.73);
   color: white;
}
.margintop{
    padding-top: 15vh;
}
.navp{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-family: fantasy;
    margin: 0;
    text-decoration-line: underline;
}
.navp2{
    text-align: center;
    color: rgb(255, 183, 0);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
.formulario-consultas {
    list-style: none;
        padding: 50px 55px;
    margin: 50px 55px;
        text-align: center;
   
    }
    ::placeholder{
        color: black;
    }
    ul form li input{
        width: 30%;
    }
    form ul li input{
        border-radius: 30px;
        width: 300px;
        background-color: rgb(255, 183, 0);
        font-family: quicksand;
        color: black;
        text-align: center;
    }
    ul form li input, textarea {
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-style: italic;
    color: black;
    border-radius: 50px;
    margin-bottom: 30px;
    text-align: center;
    border: solid 5px black;
    background-color: rgb(255, 255, 78)
    }
    .card-info {
     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: rgb(255, 183, 0);
     grid-template-columns: 1fr 1fr;
     }
    .infojavier {
        display:flex;
        justify-content: center;
   text-align: center;
    text-decoration-line: underline;
    font-family: fantasy;
    
    color: rgb(255, 183, 0);
     }
     #green{
    color: green;
    font-size: xx-large 
     }
     .maps{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
     
     }
     .dest{
        margin: 5vh;
        color: rgb(248, 183, 3);
        text-align: center;
        background-color: black;
        font-size: large;
        font-family: sans-serif;
        border-style: double;  
    }
    .video-home{
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    /*style para card  con grid*/
     .card1{
        flex-wrap: wrap;
        background-color: black;
    max-width: 350px;
        padding: 0;
        margin: 0;
        border: 3px double rgb(255, 183, 0);
        grid-row: 1;
        grid-column: 2/3 ;
        
     }
     .image-info1 img{
        display: flex;
        justify-content: center;
        border: 2px solid rgb(255, 183, 0);
        margin : 10px; 
        max-width: 350px;
     }
     .image-info1 .tittle-may{
        width: 100%;
       background-color: rgb(26, 24, 24);
       height: 50px;
       color: rgb(255, 183, 0);
       font-family: quicksand;
       display: flex;
       align-items: center;
       justify-content: center;
       border-bottom: 5px solid rgb(255, 183, 0);
       border-top: 5px solid rgb(255, 183, 0);
     }
     .image-info1 .tittle-may-P{
        width: 100%;
       background-color: rgb(26, 24, 24);
       height: 20px;
       color: rgb(255, 183, 0);
       font-family: quicksand;
       display: flex;
       align-items: center;
       justify-content: center;
       border-bottom: 3px solid rgb(255, 183, 0);
       border-top: 3px solid rgb(255, 183, 0);
     }
     .image-info1 .head-info{
        text-align: center;
        font-family: fantasy;
        color: rgb(255, 183, 0);
        background-color: black;
        width: 100%;
        height: 40px;
        
     }
     .image-info1 ul li{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 183, 0);
        display: flex;
        justify-content: left;
        
     }
     /* img 2  con grid*/
     .card2{  
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        height: 100%;
        justify-content: right;
        grid-column: 5/6;
        grid-row: 2/3;
    }
    .image-info2{
        max-width: 450px;
        padding: 0;
        margin: 0;
        border: 3px double rgb(255, 183, 0);
        background-color: black;
    }
    .image-info2 img{
        width: 350px;
        margin: 10px;
        border: 2px solid rgb(255, 183, 0);
    }
    .image-info2 .tittle-may2{
        width: 100%;
       background-color: rgb(26, 24, 24);
       height: 50px;
       color: rgb(255, 183, 0);
       font-family: quicksand;
       display: flex;
       align-items: center;
       justify-content: center;
       border-bottom: 5px solid rgb(255, 183, 0);
       border-top: 5px solid rgb(255, 183, 0);
     }
     .image-info2 .tittle-may-P2{
        width: 100%;
       background-color: rgb(26, 24, 24);
       height: 20px;
       color: rgb(255, 183, 0);
       font-family: quicksand;
       display: flex;
       align-items: center;
       justify-content: center;
       border-bottom: 3px solid rgb(255, 183, 0);
       border-top: 3px solid rgb(255, 183, 0);
     }
     .image-info2 .head-info2{
        text-align: center;
        font-family: fantasy;
        color: rgb(255, 183, 0);
        background-color: black;
        width: 100%;
        
     }
     .image-info2 ul li{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 183, 0);
        display: flex;
        text-decoration-line:underline ;
        padding: 0;
        margin: 0;
        list-style: none;
     }
/* img  con grid*/
     .card3{
        flex-wrap: wrap;
        background-color: black;
    max-width: 350px;
        padding: 0;
        margin: 0;
        border: 3px double rgb(255, 183, 0);
        grid-row: 3/4 ;
        grid-column: 2/3 ;
     }
     .form-product{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
     }
     .envios{
    width: 100%;
    display: flex;
    justify-content: center;
    
     }
     .envios-image{
        margin-top: 200px;
        padding: 10px;
        border: 3px double rgb(255, 183, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
     }
     .envios-image img{
        border: 2px solid rgb(255, 183, 0);
     }
     .navp3{
        font-size: medium;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        color: rgb(255, 183, 0);
     }
     .envios-image2{
        margin-top: 20px;
        padding: 10px;
        border: 3px double rgb(255, 183, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
    }
    .box{
        display: flex;
        width: 100%;
        margin-top: 0;
        padding: 0;
        justify-content: center;

    }
    .nav-box{
        display: flex;
        margin-top: 20px;
    }
    /* display grid/ grid container*/
    .grid{
        display: grid;
        grid-template-columns:repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 0;
        padding: 0;
    }
    /*@MEDIA 992PX STYLE*/
@media (max-width: 992px) {
.productos{
    height: 200px;
    width: 200px; 
    border-radius: 50px;  
    border: 4px solid rgb(240, 252, 80);
}
.ulclassnav{
    font-size: small;
}
.card1{
    max-width: 300px;
    max-height: 480px;
}
.image-info1 img {
    max-width: 280px;
}
.tittle-may{
font-size: small;
}
.head-info{
    font-size: small;
}
.tittle-may-P{
    font-size: small;
}
.info-mayoristas{
    font-size: small;
}
}

/*@MEDIA 768PX STYLE*/
@media (max-width: 768px) {
    .productos{
    height: 150px;
    width: 150px; 
    border-radius: 50px;  
    border: 3px solid rgb(240, 252, 80);
    }
    .ulclassnav{
        font-size: x-small;
    }
    .card1 {
        max-width: 250px;
        max-height: 430px;
    }
    .image-info1 img {
        max-width: 230px;
    }
    .tittle-may{
        font-size: x-small;
        }
        .head-info{
            font-size: x-small;
        }
        .tittle-may-P{
            font-size: x-small;
        }
        .info-mayoristas{
            font-size: x-small;
        }
    }

    /*@MEDIA 600PX STYLE*/
@media (max-width: 600px) {
     .productos{
     height: 100px;
     width: 100px; 
     border-radius: 50px;  
     border: 2px solid rgb(240, 252, 80);
        }
        .ulclassnav {
            font-size: xx-small;
        }
        .card1 {
            max-width: 200px;
            max-height: 380px;
        }
        .image-info1 img {
            max-width: 180px;
        }
        .tittle-may{
            font-size: xx-small;
            }
            .head-info{
                font-size: xx-small;
            }
            .tittle-may-P{
                font-size: xx-small;
            }
            .info-mayoristas{
                font-size: xx-small;
            }
        }
.ulclassnav li a:hover{
    transition: 0.5s;
    text-decoration: 3px underline rgb(0, 82, 0);
}

.card1:hover{
   transition: 1.5s;
    box-shadow: 5px 5px 20px yellow;
    transform: translateY(-5%);
    max-width: 350px;
}
.card2:hover{
    transition: 1.5s;
     box-shadow: 5px 5px 20px yellow;
     transform: translateY(-5%);
     height: 100%;
 }
 .card3:hover{
    transition: 1.5s;
     box-shadow: 5px 5px 20px yellow;
     transform: translateY(-5%);
     max-width: 350px;
 }

.infojavier p{
    text-decoration-line: underline;
     font-family: fantasy;
     display: inline-block;
     margin: 5px;
     color: rgb(255, 183, 0);
    }
.submit:hover{
    background-color: green;
    color: black;
    font-size: large;
    font-family: fantasy;
    transform: translatey(+5%);
    transition: 400ms;
    border: 3px solid rgb(255, 183, 0);
}
.img-card{
    margin: 0;
    padding: 0;
    max-width: 245px;
    max-height: 245px;
    
}
.card{

    
    border-radius: 10px;
    overflow: hidden;
    background: black;
    box-shadow: 0px 1px 10px rgb(255, 183, 0);
    transition: all 400ms ease;
    max-width: 267px;
  
    
}
.card:hover {
   
    box-shadow: 5px 5px 20px yellow;
    transform: translateY(-5%);
    max-width: 267px;
}
.card img{
  
   padding: 15px;
    border-radius: 30px;
}
.image .titulo-item {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 183, 0);
    text-align: center;
    background-color: rgb(19, 19, 16);
    margin: 0;
    padding: 5px;
    border-top: 3px solid rgb(255, 183, 0);
    border-bottom: 3px solid rgb(255, 183, 0); 
    
    
    
}
.image .contenido-item{
    
    background-color:rgb(19, 16, 16) ;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 5px;
    max-width: 267px;
    padding: 0;
    margin: 0;

}
.contenido a{
   display: flex;
   justify-content: center;
    color: rgb(248, 183, 3);
    text-decoration-line: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    transition: 400ms;
    
}
.contenido a:hover{
   justify-content: center;
    font-size: 20px;
    color: rgb(255, 255, 115);
    transform: translateY(-5px);
    margin: 5px;   
}
.titulo-item{
   font-size: medium ;
   color: aliceblue;
 
}
.img-card{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 230px ;
    max-height: 230px ;
}
.card-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.contenido a
{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
.welcome
{
    flex-wrap: wrap;
    background-image: url(./image/descarga\ \(8\).jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    filter: brightness(.73);
border: double 2px yellow;

}
.welcome-cont
{
max-width: 100%;
max-height: 100%;
color: rgb(0, 0, 0);
text-align: center;
margin: 20vh;
padding: auto;
font-family: cursive;
}
.margintop1
{
    padding-top:50vh ;
}


